target/classes/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ba78b3bd-657e-4ca2-b4e4-87c9aeeff341">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="da5f9c61-ee7a-4638-abeb-7d5e21397899" >
		<db:generic-connection url="jdbc:postgresql://ec2-44-206-204-65.compute-1.amazonaws.com:5432/d2pnnmmen2vaho" driverClassName="org.postgresql.Driver" user="uxaoxbavtmwiam" password="d832f054181c85e06714cc4ef20d0cf3e5495bbb8d855c00ea1f3d21744367d7" />
	</db:config>
	<flow name="helloworldFlow" doc:id="dd9869d5-3e87-427d-aee1-b9cff243a9d3" >
		<http:listener doc:name="Listener" doc:id="d98bba3f-56b9-4f82-8e0b-e44ca089feeb" config-ref="HTTP_Listener_config" path="/helloworld"/>
		<db:select doc:name="Select" doc:id="c3f0db1f-eee7-4381-bbe6-7d15be8d9984" config-ref="Database_Config">
			<db:sql><![CDATA[select id, sfid, name, billingcity from salesforceproductionbackup.account limit 20
]]></db:sql>
		</db:select>
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" doc:name="Set Payload" doc:id="f21ad819-1c78-4641-a59a-79aee7c90fed" />
	</flow>
</mule>
